{% extends 'base.html' %}
{% block title %}
about us
{% endblock %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>
<body>
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                  <h1 class="card-title">This is About Us</h1>
                  <h1 class="card-subtitle mb-2 text-muted">Online Electronic Store</h1>
                  <b><p class="card-text">We sell the best Electronic product in the world</p>
                  </b>
                </div>
              </div>
        </div>
        <div class="col-3"></div>
    </div>
</body>
</html>
{% endblock %}