{% extends 'base.html' %}
{% block title %}
Checkout
{% endblock %}
{% block body %}
<br><br><br><br>
<div class="container">
    <h1>Hello, {{request.user.first_name}}</h1>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="{{product.product_image.url}}" class="img-thumbnail mx-3" alt="...">
                </div>
                <div class="col">
                    <div>
                        <b><h3>{{product.product_name}}</h3></b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}