{% extends 'base.html' %}
{% block title %}
Checkout
{% endblock %}
{% block body %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <img src="{{product.product_image.url}}" class="img-thumbnail mx-3" alt="...">
                </div>
                <div class="col">Hello</div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
{% endblock %}