{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}
{% block css %}
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }
{% endblock %}
{% block body %}
   <div class=" container">
    <div class="row">
        <div class="col-4"></div>
        <div class=" col">
            <form method="post" >
                {% csrf_token %}
                <br>
                <div class=" bg-danger gradient-custom-2">
                    <div class="p-1">
                        <h6>Login to your account</h6>
                        
                    </div>
                </div>
                <div class="form-outline mb-4"><br>
                  <input type="text" id="form2Example11"name="uname" class="form-control" placeholder="Phone number or email address"/>
                  <label class="form-label"  for="form2Example11">Username</label>
                </div>
        
                <div class="form-outline mb-4">
                  <input type="password"name="pass" id="form2Example22" class="form-control" placeholder="Password"/>
                  <label class="form-label"  for="form2Example22" >Password</label>
                </div>
        
                <div class="text-center pt-1 mb-5 pb-1">
                  <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
                  <a class="text-muted" href="forgot">Forgot password?</a>
                </div>
        
                <div class="d-flex align-items-center justify-content-center pb-4">
                  <p class="mb-0 me-2">Don't have an account?</p>
                  <a class="btn btn-outline-light btn-block fa-lg gradient-custom-2 mb-3" href="signin">Create Accont</a>
                </div>
          
            </form>
        </div>
        <div class="col-4"></div>
    </div>
   </div>
{% endblock %}