{% extends 'base.html' %}
{% block title %}
Product view
{% endblock %}
{% block body %}
<div class="card" style="width: 18rem;">
    <img src="{{product.product_image.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.product_name}}</h5>
      <p class="card-text">{{product.product_desc}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{product.product_price}}</li>
      <li class="list-group-item">{{product.product_disc}}</li>
    </ul>
    <div>
      <a href="" class="btn btn-dark w-100">Buy </a>
    </div>
    </div>
  </div>
{% endblock %}