{% extends 'base.html' %}
{% block title %}
Profile
{% endblock %}
{% block css %}
w100{
  width : 100%;
}
{% endblock %}

{% block body %}
<div class="card" style="width: 18rem;">
  <img src="{{user.profile.image.url}}" class="card-img-top" alt="...">
  <a href="" class="btn btn-dark">Upload image</a>
  <div class="card-body">
    <h5 class="card-title">{{user.username}}</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <a href="" class="btn btn-outline-dark">Edit Profile</a>
      <a href="" class="btn btn-outline-dark mt-1">Your Cart</a>
    </div>
  </div>
</div>
{% endblock %}